.directions-links {
  right: 0;
  position: absolute;
}
.directions-links a {
  color: white;
  text-decoration: none;
}
.directions-links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
  margin: 0px !important;
  width: 300px;
}
.directions-links ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: #1f6c97;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .directions-links ul {
    width: 200px;
  }
}
