.kitchen-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
  grid-gap: 20px;
}
.orders {
  list-style: none;
  border: 15px solid #d0d0d0;
  display: grid;
  /* grid-template-rows: 2px 30px 170px 25px; */
  border-radius: 15px;
  box-shadow: -9px 9px 5px -6px rgba(92, 92, 92, 0.43);
}
.order-number p{
  margin:0px;
  text-align: center;
  border-bottom: 1px solid #dadada;
}
.detailes-order {
  grid-row: 2/3;
  justify-content: space-between;
  display: flex;
  margin: 5px;
}
.detailes-order p{
  margin:0px;
}
.detailes-order .timer{
  background-color:coral;
  border-radius:15px;
  
}
.items-order {
  list-style: none;
  padding: 10px;
  overflow: scroll;
  margin: 0px;
}
.orders button {
  border: none;
  color: white;
  padding: 8px 0px;
}
.Done {
  background: green;
}
.Pending {
  background: red;
}
.Modal {
  position: absolute;
  background-color: white;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 100% !important;
}
.ReactModal__Content.ReactModal__Content--after-open.Modal h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.buttons-modal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  height: 40px;
}
.buttons-modal :first-child {
  background: #b8b8b8;
  border: none;
  border-radius: 10px;
  color: white;
  width: 30%;
  height: 40px;
}
.buttons-modal :nth-child(2) {
  background: #2586bd;
  color: white;
  border: none;
  border-radius: 10px;
  width: 30%;
}
